body {
    height: 98vh;
    min-width: 600px;
    overflow: hidden;
    position: relative;  /* needed for pseudo-elements */
}

/* First image (blue) */
body::before {
    content: "";
    position: absolute;
    bottom: -45px;
    left:-50px;
    width: 150px;
    height: 150px;
    background-image: url("/images/blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(1deg);
}

/* Second image (yellow) */
body::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -10px;
    width: 150px;
    height: 150px;
    background-image: url("/images/yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(1deg);
}

main {
    height:100%;    
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}

button {
    cursor:pointer;
}

button:focus {
  outline: none;
}

.selected {
   background: #D6DBF5;
}

.wrong {
    background-color: #F8BCBC;
    pointer-events: none;
}

.correct {
    background-color: #94D7A2;
    pointer-events: none;
}


.notSelected {
    opacity: 0.5;
    pointer-events: none;
}

/* INTRO PAGE  */

section.firstPage {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
}

h1 {
 
    text-align: center;
    color: #293264;
    width: 412px;
    height: 41px;
    font-weight: bold;
    font-size: 31.25px;
    font-family: Karla;
    margin:0 0 10px 0;
}

p {
    font-family: Inter;
    font-size: 16px;
    margin:5px 0 5px 0;
    
    
}

button.startQuiz {
    margin-top: 30px;
    border-radius:15px;
    padding: 10px;
    width: 193px;
    height: 52px;
    font-size:16px;
}


/* Quiz Page */

section.quizPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px 20px;
}
.questionContainer {
    max-width: 75%;
    max-height: 80%;
}
.questionSection {
    margin-top: 15px; 
}

.buttonsContainer { 
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    font-size: 11px;
}

.answersButtons {
    border-radius: 100px;
    padding: 3px 20px;
    border: solid 1px #4D5B9E;
}

.selected,
.wrong,
.correct,
button.checkAnswers,
button.playAgain {
    border:none;
}

button.playAgain,
button.startQuiz,
button.checkAnswers {
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius:15px;
} 

button.checkAnswers,
button.playAgain {
    font-size:10.24px;
    padding: 8px;
    border-radius: 10px;
}

button.checkAnswers {
    width: 120px;
    height: 35px;
}

button.playAgain {
    width: 104px;
    height: 30px;
}
.resultsContainer {
    display:flex;
    flex-direction: row;
    gap: 10px
}

.questionText {
    color: #293264;
    font-weight: bold;
    font-size: 16px;
    font-family: Karla;
}

.resultsText {
    font-size: 12.8px;
    text-align: center;
    color: #293264;
    font-weight: bold;
}


